<!DOCTYPE html>
<html>
  <head>
    <title>Notice Details</title>
  </head>
  <body>
    <h2>{{ notice.title }}</h2>
    <p>Type: {{ notice.notice_type }}</p>
    <p>Date: {{ notice.notice_date }}</p>
    <p>Uploaded By: {{ notice.uploaded_by.username }}</p>
    <p>Description: {{ notice.content }}</p>

    <h3>Applicants:</h3>
    <table border="1">
      <thead>
        <tr>
          <th>Student Name</th>
          <th>PRN</th>
          <th>Application Status</th>
        </tr>
      </thead>
      <tbody>
        {% for student in applicants %}
        <tr>
          <td>{{ student.username }}</td>
          <td>{{ student.student.S_PRN }}</td>
          <td>
            <select name="application_status">
              <option value="Applied">Applied</option>
              <option value="Accepted">Accepted</option>
              <option value="Rejected">Rejected</option>
            </select>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
