<!DOCTYPE html>
<html>
  <head>
    <title style="text-align: center">Upload Notice</title>
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    "
  >
    <h2 style="font-size: 2rem; margin-top: 1rem; text-transform: uppercase">
      Upload Notice
    </h2>
    <form
      method="post"
      enctype="multipart/form-data"
      style="
        background-color: #fff;
        padding: 2rem;
        border-radius: 15px;
        width: 80%;
        max-width: 400px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
        margin: 1rem auto;
      "
    >
      {% csrf_token %} {{ form.as_p }}

      <button
        type="submit"
        style="
          display: block;
          margin: 1rem auto;
          padding: 10px 15px;
          background-color: #3f7ad3;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
        "
      >
        Upload Notice
      </button>
    </form>
  </body>
</html>
